<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Liste de courses
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="ajouterListe()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nouvel article</ion-label>
    <ion-input [(ngModel)]="nomDeArticle"></ion-input>
    <ion-button slot="end"
                size="default"
                color="tertiary" 
                (click)="ajouter()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- La condition ici permet de voir si la liste est vide (length === 0 // false): l'item ne s'affiche pas -->
  <ion-item *ngIf="articles.length">
    <ion-button slot="end" size="default" color="danger" (click)="confirmer()">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-list-header>
      Mes articles
    </ion-list-header>
    <ion-item *ngFor="let article of articles" (click)="afficherAction(article)" >
      <span [ngClass]="{barre: article.estCoche}">{{ article.nom }}</span>
      <ion-icon *ngIf = "article.estCoche" 
                slot="end" name="checkmark-circle" color="success"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
